{%- extends "base.html" %}

{% block title %}Start{% endblock %}

{% block content %}
        <h1>{{ _('Simple Tracking') }}</h1>
        
        <ul>
                <li>Tracking Server - OsmAnd protocol: <a href="https://www.traccar.org/osmand/">https://www.traccar.org/osmand/</a></li>
                <li>This page and the Tracking URL are the same including network port.</li>
        </ul>

        <ul>
                <li>Also possible to set a <a href="https://www.thethingsnetwork.org/docs/applications/http/">HTTP integration</a> from <a href="https://www.thethingsnetwork.org/">TTN network</a></li>
                <li>Need to encode lat/lon/latitude/longitude in payload_fields in your application</li>
        </ul>
{%- endblock %}
